*{
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}
.box{
    height: 200px;
    width: 200px;
    background-color: green;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: rgb(180, 0, 0);
}
.names{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: larger;
}
.title{
    margin-left: 10px;
}
.parts{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-right: 10px;

}